/* Configs */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #E3A72F;
    --color-secondary: 
}

body {
    width: 100vw;
    height: auto;
    min-height: 100vh;
}